@model IEnumerable<StoreModel>

@{
    ViewData["Title"] = "Stores";
}

<div class="text-center my-6">
    <h1 class="text-gray-900 text-xl mt-2">Kroger Stores</h1>
    <ul role="list" class="mt-4 divide-y divide-gray-200 max-w-[500px] mx-auto">
        @foreach (var location in @Model)
        {
            <li class="px-4 py-6 sm:px-0">
                <a
                    class="font-medium  text-indigo-600 hover:text-indigo-500 block mb-4"
                    asp-controller="StoreDetails"
                    asp-route-id="@location.LocationId"
                    asp-action="Index">
                    @location.Name
                </a>
                <p>@location.Address</p>
                <div>
                </div>
            </li>
        }
    </ul>
</div>