<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FindAndGo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/FindAndGo.styles.css" asp-append-version="true"/>
</head>
<body class="h-full">
<div class="min-h-full bg-gray-100">
    <div class="py-10">
        <header class="w-full flex justify-center flex-col items-center mb-5">
            <img class="h-32" src="images/logo.png" alt="Find & Go">
        </header>
        <main>
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 bg-white rounded-md shadow-sm p-2">
                @RenderBody()
            </div>
        </main>
    </div>
</div>
<footer class="border-top footer text-muted">
    <div class="container mx-3">
        &copy; 2023 - FindAndGo
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>