<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FindAndGo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="h-full flex flex-col">
<header class="w-full flex justify-center flex-col items-center mb-5 pb-6 border-b-[1px] border-gray-200">
    <a asp-controller="Home" asp-action="Index">
        <img class="h-24 mt-6" src="~/images/logo.png" alt="Find & Go">
    </a>
</header>
<main class="mb-auto">
    @RenderBody()
</main>
<footer class="text-muted border-t-[1px] border-gray-200">
    <p class="m-3 text-sm text-gray-600">
        &copy; 2023 - Find & Go
    </p>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>