@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-6">
    <div class="my-auto">
        <h1 class="text-gray-900 text-xl mt-2">Find a product at any Kroger in just a few easy steps.</h1>
        <h2 class="text-gray-900 text-xl mt-2 mb-4">Enter a zip code to find the closest Kroger stores.</h2>
        <form class="w-96 mx-auto mt-6" asp-controller="Store" asp-action="Index" method="post">
            <label asp-for="ZipCode" class="ml-px block pl-4 text-sm font-medium leading-6 text-gray-700 sr-only"></label>
            <input asp-for="ZipCode" class="mt-2 text-lg block w-full rounded-full border-0 px-4 text-xl py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter your zip code">
            <button type="submit" class="mt-5 rounded-full bg-indigo-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 w-full">Find</button>
            <span asp-validation-for="ZipCode" class=""></span>
        </form>
    </div>
</div>
<div class="w-full flex justify-center mt-10">
    <img class="h-[450px]" src="images/eating_together.png" alt="two people eating together at a table"/>
</div>